@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100;300;400;500&family=Lemon&display=swap');

/* * {
    margin: 0px;
    padding: 0px;
} */

body {
    font-family: 'Geologica', sans-serif;
    /* font-family: 'Lemon', serif; */
}

.primary-color {
    color: rgb(136, 11, 173);
}

.btn-color {
    background: rgb(136, 11, 173);
    color: white;
    border: 0;
    font-size: 20px;
    border-radius: 7px;
    padding: 14px 34px;
    font-weight: 700;


}

.section-title {
    text-align: center;
    font-size: 36px;
    color: #181818;
    font-weight: 700;
}

.section-description {
    text-align: center;
    font-size: 17px;
    color: #474747;
}

/* .header {
    background-color: rgb(241, 233, 247);

} */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: rgb(241, 233, 247); */
    /* color: black; */
    /* padding: 20px 100px;
    font-size: 20px; */
    margin: 0px 200px;


}

.logo {
    font-size: 40px;
    font-weight: 600;
    color: #181818;

}

.navbar .menu {
    display: flex;
    align-items: center;


}

.menu li {
    list-style: none;
    margin-right: 50px;
}

.menu a {
    text-decoration: none;
    /* padding: 6px; */
    color: #474747;
}

/* navbar :end */

.header {
    background-color: rgb(240, 231, 243);
    background-image: url('../images2/header\ bg\ up.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 0px 146px;

}

.banner-content {
    max-width: 500px;
}

.banner-greeting {
    font-size: 40px;
    color: #474747;
    margin-bottom: 0px;

}

.banner-title {
    font-size: 50px;
    font-weight: 700;
    margin-top: 6px;
    margin-bottom: 20px;


}

.banner-description {
    margin-bottom: 10px;
}

.profile.pic {
    width: 500px;
}

.banner i {
    padding: 5px 6px;
}

/* header End */

/* main section value submit */
main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

/* main section value submit */

.section-about {
    margin: 140px 0px;
    background-color: rgb(240, 231, 243);
    /* padding: 70px 70px; */
    padding: 130px;
    border-radius: 10px;
}

.about-info-container {
    display: flex;
    /* justify-content: space-around; */
    justify-content: space-between;
}

.about-info {
    text-align: center;
}

/* About section close */
.section-what-i-do {
    /* padding: 50px; */
    /* margin: 0px 0px; */

}

.skill-container {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    /* justify-content: center; */
    gap: 15px;
}

.skill-info {
    align-items: center;
    margin: 10px;
    /* width: 200px; */
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 20px;

}

.description-info {
    color: #474747;
    justify-items: center;
}

/* .section-description {
    color: #474747;
    text-align: center;
    align-items: center;
    padding: 0 150px;
    font-size: 18px;
} */

/* Education Start  */

.resume-container {
    display: flex;
    gap: 25px;
}

.rusume-column-title {
    font-size: 30px;
    color: #474747;
}

.resume-item {
    color: #474747;
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 17px;

}

.resume-column {
    align-items: center;
    /* text-align: center; */
}

.resume-column hr {
    margin: 30px;
}

.resume-institute {
    color: rgb(102, 99, 99);
}

.resume-btn {
    /* align-items: center;  */
    /* justify-content: center;
     */
    text-align: center;
    margin: 50px;
}

.resume-btn i {
    padding: 5px 6px;
}

/* Resume Section End  */

footer {
    display: flex;
    gap: 50px;
    background-color: rgb(239, 232, 241);
    /* justify-content: center; */
    margin-top: 100px;
    padding: 130px 200px;

}

.footer-column {
    /* text-align: center; */
    /* align-items: center; */
    width: 50%;
}

.footer .section-title {
    font-size: 20px;
}

.socail-links a>i {
    margin-left: 20px;
    font-size: 30px;
    /* color: rgb(136, 11, 173); */
}

.contact input[type='text'],
.contact input[type="email"],
textarea {
    display: block;
    margin-bottom: 20px;
    padding: 17px 30px;
    width: 100%;
    border: 0;
    border-radius: 6px;
}

/* .btn-color-blank{
    background: rgb(136, 11, 173);
    color: white;
    border: 0;
    font-size: 20px;
    border-radius: 7px;
    padding: 14px 34px;
    font-weight: 700;
} */

@media screen and (max-width: 576px) {
    .container {
        /* margin: 0;
        padding: 0; */
        width: 100%;
    }

    .header {
        background-image: none;
        background-image: url('../images2/header\ bg\ up.png');
        background-repeat: no-repeat;
        background-position: bottom right;
    }

    .navbar {
        flex-direction: column;
    }

    .navbar .logo {
        font-size: 1.1rem;
    }

    .banner,
    footer {
        flex-direction: column;
        padding: 0;
    }

    .banner-content {
        text-align: center;
        padding: 0;
    }
    .banner .btn-color{
        margin-top: 8px;
    }

    .about-info-container,
    .skill-container,
    .resume-container {
        flex-direction: column;

    }

    .section-about,   .resume-container {
        font-size: 15px;
        padding: 8px;
    }

    footer .footer-column {
        width: 100%;

    }
    .socail-links{
        text-align: center;
    }

    .contact input[type='text'],
    .contact input[type="email"],  textarea{
         width: 80%;
         /* padding-left: 20px; */
    }
    footer .contact{
        padding-left: 20px;
    } 
}